<!--Navbar -->
<nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Rep_dashboard">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Patient Registration
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/patientinfo">New-Patient</a>
          <a class="dropdown-item" href="/outPatient">Out-Patient</a>
          <a class="dropdown-item" href="/inPatient">In-Patient</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Payment
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/labfee">Lab Test</a>
          <a class="dropdown-item" href="/inlabfee">InPatient Lab Test</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<br>
<br>
<br>
  <div class="col-md-8 offset-2 border border-light p-5">
    <div>
         <p class="h4 mb-4"><img src="https://img.icons8.com/nolan/64/user-male--v1.png"/> Lab Fee </p>
         <form action="/inlabfee" method="POST">
          <%- include('./partials/messages.ejs'); %>
          <div class="md-form input-with-pre-icon ID">
            <i class="fas fa-user input-prefix"></i>
            <input type="text" id="prefixInside" class="form-control col-md-8" name="ipd_id" required>
            <label for="prefixInside">IPD ID</label>
          </div>
          <div class="dates">
            <label><i class="fas fa-calendar"></i> Date </label><br>
            <input type="text" autocomplete="off" id="user1" class="form-control" placeholder="Date" name="date"><br>
          </div>
          <button class="btn purple-gradient" type="submit">Submit</button>
          </form>
          <%- include('./partials/inPRecord.ejs'); %>
      </div>
  </div>
  