<body background="images/hospital.jpg" alt="BGC" style="height: 100%; background-repeat: no-repeat; background-size: cover; ">
<!--Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Rep_dashboard">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Patient Registration
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/patientinfo">New Patient</a>
            <a class="dropdown-item" href="/outPatient">Out Patient</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Payment
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/labfee">Lab Test</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
  <br>
  <br>
  <br>
  <div class="col-md-8 offset-2 border border-light p-5" style="margin-top: 100px; background-color:rgb(0,0,0,0.5); color: white; border-radius: 1em;">
    <div>
         <p class="h4 mb-4"><img src="https://img.icons8.com/nolan/64/user-male--v1.png"/> Lab Fee </p>
         <form action="/labfee" method="POST">
          <%- include('./partials/messages.ejs'); %>
          <div class="md-form input-with-pre-icon ID">
            <i class="fas fa-user input-prefix"></i>
            <input type="text" id="prefixInside" class="form-control col-md-8" style="color: white;" name="opd_id" required>
            <label for="prefixInside" style="color: white;">OPD ID</label>
          </div>
          <button class="btn purple-gradient" style="color: white;" type="submit">Submit</button>
          </form>
          <%- include('./partials/record_entry.ejs'); %>
      </div>
  </div>
</body>
  