
        <h1>Patient Registration</h1>
       <p>Enter the details of the patient.</p><br><br>

        <form action="/patientdetails" method="POST">          
                <label for="id">ID</label>
                <input type="text" name="id" placeholder="ID" /><br>
                <label for="dor">Date Of Registration</label>
                <input type="date" name="dor" placeholder="Registration date" /><br>
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name" /><br>
                <label for="age">Age</label>
                <input type="number" name="age" placeholder="Age" /><br>
                <label for="gender">Gender</label>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label><br>
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" placeholder="Date Of Birth" /><br>
                <label for="bloodgrp">Blood Group</label>
                <input type="text" name="bloodgrp" placeholder="Blood Group" /><br>
                <label for="phone">Contact Number</label>
                <input type="number" name="phone" placeholder="Contact Number" /><br>
                <label for="addr">Address</label>
                <input type="text" name="address" placeholder="Address" /><br>
                <label for="email">Email Id</label>
                <input type="email" name="email" placeholder="Email Address" /><br>
                <button type="submit">Submit</button>
        </form>
   
     