
<body background="/images/homepage.jpg" alt="BGC" style="height: 100%; background-repeat: no-repeat; background-size: 1536px 730px; ">
<div id ="top" style="margin-top: 200px;">
  <div class="card card-body text-center" style="width: 500px; margin-left: 300px; border: 1px solid; padding: 10px; border-radius: 1em;">
    <h1><img src="https://img.icons8.com/bubbles/50/000000/hospital.png"/></h1>
    <p>Create an account or login</p>
    <a href="/users/register" class="btn btn-primary ">Register</a>
    <a href="/users/login" class="btn btn-secondary ">Login</a>
  </div>
</div>

</body>
